<p>


  <!--<div class="cart-item" *ngFor="let item of users">
    <span>{{ item.FirstName }}</span>
    <span>{{ item.price | currency }}</span>
  </div>-->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Edit</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{ item.UserId }}</td>
        <td>{{ item.FirstName }}</td>
        <td>{{ item.LastName }}</td>
        <td>{{ item.Email }}</td>
        <td>{{ item.Phone }}</td>
        <td> <button class="btn btn-sm btn-primary" (click)="edituser(item.UserId )">Edit</button></td>
      </tr>
    </tbody>
  </table>
